/* Reset de Estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(2, 0, 102);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(2, 0, 102);
    box-shadow: 0 2px 4px rgba(223, 221, 221, 0.626);
}

.navbar img {
    height: 50px;
    width: 140px;
    margin-left: 70px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin: 0 10px;
    cursor: pointer;
}

.letras {
    position: relative;
    text-decoration: none;
    color: #00b7ff;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 40px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.letras::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.letras:hover::before {
    background-color: rgb(0, 110, 255);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo da Página de Listar Aluguéis */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(2, 0, 102);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
    color: rgb(2, 0, 102);
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: rgb(2, 0, 102);
    color: #fff;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(0, 110, 255);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: rgb(2, 0, 102);
    color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}
