/* Reset de Estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(2, 0, 102);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(2, 0, 102);
    box-shadow: 0 2px 4px rgba(223, 221, 221, 0.626);
}

.navbar img {
    height: 50px;
    width: 140px;
    margin-left: 70px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin: 0 10px;
    cursor: pointer;
}

.letras {
    position: relative;
    text-decoration: none;
    color: #00b7ff;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 40px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.letras::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.letras:hover::before {
    background-color: rgb(0, 110, 255);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.container {
    background-color: #005fad;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"] {
    border: 1px solid #888787;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    background-color: #e2e2e2;
    color: #111111;
}

button {
    background-color: #06b300;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    width: 100%;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

button:hover {
    background-color: #53ce01;
}